body{
    --a-color: #408ec6;
    --a-background: #f5f0e1 ;
}
.app{
    display: flex;
    height: 200vh; 
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    overflow: hidden;
}